{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 [[bidi "2.1.6"]
  [binaryage/devtools "1.0.2"]
  [re-frame "1.1.2"]
  [reagent "0.10.0"]
  [venantius/accountant "0.2.5"]
  [stylefy "2.2.1"]
  [fork "2.2.5"]
  [metosin/malli "0.2.1"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [word-penne.core]}}

        :devtools
        {:http-root "public"
         :http-port 8080
         :preloads [devtools.preload]}
        :dev {:closure-defines {word-penne.firebase.init/API_KEY #shadow/env "API_KEY"
                                word-penne.firebase.init/AUTH_DOMAIN #shadow/env "AUTH_DOMAIN"
                                word-penne.firebase.init/PROJECT_ID #shadow/env "PROJECT_ID"
                                word-penne.firebase.init/STORAGE_BUCKET #shadow/env "STORAGE_BUCKET"
                                word-penne.firebase.init/MESSAGING_SENDER_ID #shadow/env "MESSAGING_SENDER_ID"
                                word-penne.firebase.init/APP_ID #shadow/env "APP_ID"
                                word-penne.firebase.init/MEASUREMENT_ID #shadow/env "MEASUREMENT_ID"
                                word-penne.firebase.algolia.ALGOLIA_ID #shadow/env "ALGOLIA_ID"
                                word-penne.firebase.algolia.ALGOLIA_ADMIN_KEY #shadow/env "ALGOLIA_ADMIN_KEY"
                                word-penne.firebase.algolia.ALGOLIA_SEARCH_KEY #shadow/env "ALGOLIA_SEARCH_KEY"
                                word-penne.firebase.algolia.ALGOLIA_INDEX_NAME #shadow/env "ALGOLIA_INDEX_NAME"}}
        :release
        {:compiler-options {:optimizations :simple}
         :closure-defines {word-penne.firebase.init/API_KEY #shadow/env "PRD_API_KEY"
                           word-penne.firebase.init/AUTH_DOMAIN #shadow/env "PRD_AUTH_DOMAIN"
                           word-penne.firebase.init/PROJECT_ID #shadow/env "PRD_PROJECT_ID"
                           word-penne.firebase.init/STORAGE_BUCKET #shadow/env "PRD_STORAGE_BUCKET"
                           word-penne.firebase.init/MESSAGING_SENDER_ID #shadow/env "PRD_MESSAGING_SENDER_ID"
                           word-penne.firebase.init/APP_ID #shadow/env "PRD_APP_ID"
                           word-penne.firebase.init/MEASUREMENT_ID #shadow/env "PRD_MEASUREMENT_ID"
                           word-penne.firebase.algolia.ALGOLIA_ID #shadow/env "ALGOLIA_ID"
                           word-penne.firebase.algolia.ALGOLIA_ADMIN_KEY #shadow/env "ALGOLIA_ADMIN_KEY"
                           word-penne.firebase.algolia.ALGOLIA_SEARCH_KEY #shadow/env "ALGOLIA_SEARCH_KEY"
                           word-penne.firebase.algolia.ALGOLIA_INDEX_NAME #shadow/env "ALGOLIA_INDEX_NAME"}}}}}
